@charset "UTF-8";

:root{
    --portfolio-black: #000;
    --portfolio-white: #fff;
    --portfolio-green: #296a65;
    --portfolio-light-green: #2fac9e;
    --portfolio-grey: #eee;

    --fz-12: 12px;
    --fz-14: 14px;
    --fz-16: 16px;
    --fz-18: 18px;
    --fz-24: 24px;
    --fz-32: 32px;
    --fz-48: 48px;
    --fz-64: 64px;
}

body{
    background-color: var(--portfolio-grey);
}